<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="__ROOT__/static/layui/css/layui.css">
	<style>
		* {
			margin: 0;
			padding: 0;
		}
		html {
			width: 100%;
			height: 100%;
		}
		body {
			width: 100%;
			height: 100%;
			overflow-y: hidden;
		}
	</style>
	<script type="text/javascript" src="__ROOT__/static/common/js/jquery-1.11.1.min.js"></script>
</head>
<body>
	<div class="layui-form-item" style="margin-top: 5px">
	    <label class="layui-form-label">颜色名称:</label>
	    <div class="layui-input-block">
	      	<input id="colorname" type="text" name="colorname" required lay-verify="required" value="" autocomplete="off" class="layui-input">
	    </div>
	</div>
  	<div class="layui-form-item layui-form-text">
    	<label class="layui-form-label">颜色说明:</label>
    	<div class="layui-input-block">
      		<textarea id="colornote" name="colornote" placeholder="" class="layui-textarea"></textarea>
    	</div>
  	</div>
  	<div class="layui-form-item">
    	<div class="layui-input-block">
      		<button id="updatacolor" class="layui-btn" lay-submit lay-filter="formDemo">确认添加</button>
      		<button id="reset" class="layui-btn layui-btn-primary">重置</button>
    	</div>
  	</div>
 
<script src="__ROOT__/static/layui/layui.js"></script>

<script>
	$(document).ready(function() {

		$('#reset').on('click', function() {
			$('#colorname').val('')
			$('#colornote').val('')
		})

		$('#updatacolor').on('click', function() {
			var colorname = $('#colorname').val()
			var colornote = $('#colornote').val()
			
			$.ajax({
				type: "POST",
				url: "addnewcolor",
				data: "colorname=" + colorname + "&colornote=" + colornote,
				success: function(data) {
					if(data == 0) {
						alert('添加失败，该名称已存在!')
					} else {
						window.location.href = 'index'
					}
				}
			})
		})
	})
</script>

</body>
</html>