<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title></title>
<link rel="stylesheet" href="__ROOT__/static/layui/css/layui.css">
<style>
	* {
		margin: 0;
		padding: 0;
	}
	html {
		width: 100%;
		height: 100%;
	}
	body {
		width: 100%;
		height: 100%;
		overflow-y: hidden;
	}
</style>
<script type="text/javascript" src="__ROOT__/static/common/js/jquery-1.11.1.min.js"></script>
</head>
<body>
	<table id="mytable" class="layui-table" lay-even="" lay-skin="row" style="margin-top: 5px">
		<colgroup>
			<col width="100">
		    <col width="150">
		    <col width="150">
		    <col width="200">
		    <col width="150">
		</colgroup>
		<thead>
		    <tr>
		    	<th>
		    		<input id="allcheck" type="checkbox" name="allcheck"> 全选
		    	</th>
			    <th>类型编号</th>
			    <th>类型名称</th>
			    <th>类型说明</th>
			    <th>操作</th>
		    </tr> 
		</thead>
		<tbody>
		    {volist id='types' name='types'}
				<tr>
					<td>
						<input class="check" type="checkbox" name="check">
					</td>
					<td>{$types.typeid}</td>
					<td>{$types.typename}</td>
					<td>{$types.typenote}</td>
					<td>
						<button id="updatatype" class="layui-btn layui-btn-xs layui-btn-normal">编辑</button>
						<button id="removetype" class="layui-btn layui-btn-xs layui-btn-normal layui-bg-red">删除</button>
					</td>
				</tr>
		    {/volist}
		</tbody>
	</table>
	<button id="removetypes" class="layui-btn layui-btn-danger" style="margin-left: 20px;">删除选中</button>
	<button id="addtype" class="layui-btn" style="margin-left: 20px;">添加类型</button>

	<script>
		$(document).ready(function() {

			// 跳转到添加
			$('#addtype').on('click', function() {
				location.href = 'addtype'
			})

			// 全选
			$('input[name="allcheck"]').on('click', function() {
				var temp = $(this).prop('checked')
				if(temp) {
					$('input[name="check"]').prop('checked', true)
				} else {
					$('input[name="check"]').prop('checked', false)
				}
			})

			// 删除
			$('#mytable').on('click', '#removetype', function() {

				var typeid = $(this).parent().parent().children()[1].outerText

				var r = confirm('确认删除？')

				if(r == true) {
					$.ajax({
						type: "POST",
						url: "removetype",
						data: "typeid=" + typeid,
						success: function(data) {
							if(data == 99) {
								alert("您没有权限")
							} else if (data == 1) {
								location.reload();
							} else {
								alert('删除失败')
							}
						}
					})
				}
			})

			// 批量删除
			$('#removetypes').on('click', function() {
				var arr = []
				$('#mytable input[name="check"]:checked').each(function(i) {
					arr[i] = $(this).parent().parent().children()[1].outerText
				})

				var r = confirm('确认删除？')

				if(r == true) {
					$.ajax({
						type: "POST",
						url: "removetypes",
						data: {arr:arr},
						dataType: 'json',
						success: function(data) {
							if(data == 99) {
								alert("您没有权限")
							} else if(data == 1) {
								location.reload()
							}
						}
					})
				}
			})

			// 编辑类型
			$('#mytable').on('click', '#updatatype', function() {
				var typeid = $(this).parent().parent().children()[1].outerText

				window.location.href = 'updatatype?typeid=' + typeid
			})
		})
	</script>
</body>
</html>