<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title></title>
<link rel="stylesheet" href="__ROOT__/static/layui/css/layui.css">
<style>
	* {
		margin: 0;
		padding: 0;
	}
	html {
		width: 100%;
		height: 100%;
	}
	body {
		width: 100%;
		height: 100%;
		overflow-y: hidden;
	}
	#mytable {
		table-layout:fixed;
	}
</style>
<script type="text/javascript" src="__ROOT__/static/common/js/jquery-1.11.1.min.js"></script>
</head>
<body>
	<table id="mytable" class="layui-table" lay-even="" lay-skin="row" style="margin-top: 5px">
		<colgroup>
			<col width="100">
		    <col width="100">
		    <col width="120">
		    <col width="100">
		    <col width="100">
		    <col width="100">
		</colgroup>
		<thead>
		    <tr>
		    	<th>
		    		<input id="allcheck" type="checkbox" name="allcheck"> 全选
		    	</th>
			    <th>详情编号</th>
			    <th>订单编号</th>
			    <th>商品编号</th>
			    <th>购买数量</th>
			    <th>操作</th>
		    </tr> 
		</thead>
		<tbody>
		    {volist id='details' name='details'}
				<tr>
					<td>
						<input class="check" type="checkbox" name="check">
					</td>
					<td>{$details.odid}</td>
					<td>{$details.orderid}</td>
					<td>{$details.productid}</td>
					<td>{$details.buycount}</td>
					<td>操作</td>
				</tr>
		    {/volist}
		</tbody>
	</table>

	<script>
		$(document).ready(function() {

			// 处理
			// $('#mytable').on('click', '#dispose', function() {
			// 	var orderid = $(this).parent().parent().children().eq(1).text()
			// 	var orderstate = $(this).parent().parent().children().eq(5).children('div').attr('data-state')
				
			// 	$.ajax({
			// 		type: "post",
			// 		url: "dispose",
			// 		data: "orderid=" + orderid + "&orderstate=" + orderstate,
			// 		success: function(data) {
			// 			if(data == 1) {
			// 				location.reload()
			// 			}
			// 		}
			// 	})
			// })

			
		})
	</script>
</body>
</html>